/**************************************************
Main CSS: Stylesheet for SDI External applications
Created: October 15 2015
Version: 0.0.1
SDI Mobile Dev
Mabel Montano 
**************************************************/


body,html{
		
    height: 100%;    
}


#text_nav {

    font-size: 20px;
    font-weight: bold;
    color: white;  
}

#name{
    
    font-weight: bold;

}

a:hover {

color: #072754;

}

#logout {
    
    font-weight: bold;
}

#logout_l {

float:right;  
    
}

#welcome {
    padding-top: 1em;
    background: #072754;
    color: #FFD100;
    font-size: 24px;
    text-align: center;    
}

#error {

    background: #E94333;
    color:white;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

#logout {
    
    font-weight: bold;
    color: white;
    font-size: 1em;
}


#loginModal {

    padding-top: 6em;
   
}

#intro {

    text-align:justify;
    font-weight:bold;
    font-size: 0.5em;
}

#effect:hover {

background: #FFD100;
font-size: 16px;
font-weight: bold;
    

}


#welcome_user1 {

font-weight: bold;
font-size: 1em;
text-align: center;
color: #FFD100;

}


#welcome_user2 {
    
    font-weight: bold;
}


#text_login {

    text-decoration: underline;
    font-weight: bold;
    color: #072754;
    text-align: center;

}

#style_btn {

    background: #FFD100;
    color: #072754;
    font-weight: bold;

}


#t_head {

background: #072754;
color: white;

}


#nav_color_intro {

    background: #072754;
    color: #FFD100;
    font-size: 24px;
}


#nav_color {

    background: #FFD100;
    border-color: #FFD100;
}

.style {

    text-align: center;
    
}


#p_h3{

    font-weight: bold;

}

#myPanel {

    text-align: center;
    background: #072754;
}


.form{
    
    padding-top: 4em;

}


#icon {

    color: #FFD100;

}


.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background: #072754;
}


#footer1{
    
    text-align: center;
    font-weight: bold;
    color: white;
}


#welcome_user {

color: #FFD100;
font-weight: bold;
font-size: 1em;
text-align: center;

}

.info-box {
    
  display: block;
  min-height: 55px;
  background: #fff;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  margin-bottom: 15px;
}


.info-box-icon {
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
  display: block;
  float: left;
  height: 65px;
  width: 65px;
  text-align: center;
  font-size: 45px;
  background: rgba(0, 0, 0, 0.2);
}
.info-box-icon > img {
  max-width: 80%;
  color: white;
}
.info-box-content {
  padding: 30px 10px;
  margin-left: 90px;
  width: 60px;
}
.info-box-number {
  display: block;
  font-size: 12px;
  text-align: center;
}


.info-box-text {
  display: block;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.info-box-text {
    padding-bottom: 2em;
    font-weight: bold;
    text-align:left;
    
}


.bg-orange {

background-color: #072754;

}


.link_color {

color: #900902;
}

.bg-green {

    background-color: #006B53;

}


.bg-blue {

background-color: #581A4A;


}

.bg-darkred {
    
    background-color: #AD0615;
}



.modal-footer {   border-top: 0px; }

	/* remove outer padding */
	.main .row{
		padding: 0px;
		margin: 0px;
	}

	/*Remove rounded coners*/

	nav.sidebar.navbar {
		border-radius: 0px;
	}

	nav.sidebar, .main{
		-webkit-transition: margin 200ms ease-out;
	    -moz-transition: margin 200ms ease-out;
	    -o-transition: margin 200ms ease-out;
	    transition: margin 200ms ease-out;
	}

	/* Add gap to nav and right windows.*/
	.main{
		padding: 10px 10px 0 10px;
	}

	/* .....NavBar: Icon only with coloring/layout.....*/

	/*small/medium side display*/
	@media (min-width: 768px) {

		/*Allow main to be next to Nav*/
		.main{
			position: absolute;
			width: calc(100% - 40px); /*keeps 100% minus nav size*/
			margin-left: 40px;
			float: right;
		}

		/*lets nav bar to be showed on mouseover*/
		nav.sidebar:hover + .main{
			margin-left: 200px;
		}

		/*Center Brand*/
		nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
			margin-left: 0px;
		}
		/*Center Brand*/
		nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
			text-align: center;
			width: 100%;
			margin-left: 0px;
		}

		/*Center Icons*/
		nav.sidebar a{
			padding-right: 13px;
		}

		/*adds border top to first nav box */
		nav.sidebar .navbar-nav > li:first-child{
			border-top: 1px #e5e5e5 solid;
		}

		/*adds border to bottom nav boxes*/
		nav.sidebar .navbar-nav > li{
			border-bottom: 1px #e5e5e5 solid;
		}

		/* Colors/style dropdown box*/
		nav.sidebar .navbar-nav .open .dropdown-menu {
			position: static;
			float: none;
			width: auto;
			margin-top: 0;
			background-color: transparent;
			border: 0;
			-webkit-box-shadow: none;
			box-shadow: none;
		}

		/*allows nav box to use 100% width*/
		nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
			padding: 0 0px 0 0px;
		}

		/*colors dropdown box text */
		.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
			color: #777;
		}

		/*gives sidebar width/height*/
		nav.sidebar{
			width: 250px;
			height: 100%;
			margin-left: -160px;
			float: left;
			z-index: 8000;
			margin-bottom: 0px;
		}

		/*give sidebar 100% width;*/
		nav.sidebar li {
			width: 100%;
		}

		/* Move nav to full on mouse over*/
		nav.sidebar:hover{
			margin-left: 0px;
		}
		/*for hiden things when navbar hidden*/
		.forAnimate{
			opacity: 0;
		}
	}

	/* .....NavBar: Fully showing nav bar..... */

	@media (min-width: 1330px) {

		/*Allow main to be next to Nav*/
		.main{
			width: calc(100% - 200px); /*keeps 100% minus nav size*/
			margin-left: 200px;
		}

		/*Show all nav*/
		nav.sidebar{
			margin-left: 0px;
			float: left;
		}
		/*Show hidden items on nav*/
		nav.sidebar .forAnimate{
			opacity: 1;
		}
	}

	nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
		color: #CCC;
		background-color: transparent;
	}

	nav:hover .forAnimate{
		opacity: 1;
	}
	section{
		padding-left: 15px;
	}