body {
    margin-top: 100px;
    background-color: #072754;
}

@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
}

.huge {
    font-size: 30px;
    line-height: normal;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 10px;
    }
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #999;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #000;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}

/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 60px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #072754;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav>li>a {
        width: 225px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #000 !important;
    }
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

/* Flot Chart Containers */

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

/* Custom Colored Panels */

.huge {
    font-size: 24px;
}

#icon {
    
color: #FFD100;

}

#links_c {

color: black;
font-weight: bold;

}

#new_kpf{

height: 570px;

}

#l_hover:hover {

   background-color: red;


}

.panel-green {
    border-color: #072754;
}

.panel-green > .panel-heading {
    border-color:#072754;
    color: #fff;
    background-color: #072754;
}

.panel-green > a {
    color:#072754;
}

.panel-green > a:hover {
    color: black;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red > .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red > a {
    color: #d9534f;
}

.panel-red > a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow > .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow > a {
    color: #f0ad4e;
}

.panel-yellow > a:hover {
    color: #df8a13;
}


#text_nav {

    font-size: 20px;
    font-weight: bold;
    color: white;
    
}

#name{
    
    font-weight: bold;

}

a:hover {

color: #072754;

}

#logout {
    
    
    font-weight: bold;
}

#logout_l {

float:right;  
}

#welcome {
padding-top: 1em;
    background: #072754;
    color: #FFD100;
    font-size: 24px;
    text-align: center;    
}

#error {

    background: #E94333;
    color:white;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

#logout {
    
    
    font-weight: bold;
    color: white;
    font-size: 1em;
}


#loginModal {

    padding-top: 6em;
   
}

#intro {

    text-align:justify;
    font-weight:bold;
    font-size: 0.5em;
}

#effect:hover {

background: #FFD100;
font-size: 16px;
font-weight: bold;
    

}


#welcome_user1 {

font-weight: bold;
font-size: 1em;
text-align: center;
color: #FFD100;

}


#welcome_user2 {
    
    font-weight: bold;
}


#text_login {

    text-decoration: underline;
    font-weight: bold;
    color: #072754;
    text-align: center;

}

#style_btn {

    background: #FFD100;
    color: #072754;
    font-weight: bold;

}


#t_head {

background: #072754;
color: white;

}


#nav_color_intro {

    background: #072754;
    color: #FFD100;
}


#nav_color {

    background: #FFD100;
    border-color: #FFD100;


}

.style {

    text-align: center;
    
}


#p_h3{

    font-weight: bold;

}

#myPanel {

    text-align: center;
    background: #072754;
}




#icon {

    color: #FFD100;

}


.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background: #072754;
}


#footer1{
    
    text-align: center;
    font-weight: bold;
    color: white;
}


#welcome_user {

color: #FFD100;
font-weight: bold;
font-size: 1em;
text-align: center;

}

.info-box {
    
  display: block;
  min-height: 55px;
  background: #fff;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  margin-bottom: 15px;
}


.info-box-icon {
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
  display: block;
  float: left;
  height: 75px;
  width: 75px;
  text-align: center;
  font-size: 45px;
  line-height: 90px;
  background: rgba(0, 0, 0, 0.2);
}
.info-box-icon > img {
  max-width: 100%;
  color: white;
}
.info-box-content {
  padding: 30px 10px;
  margin-left: 90px;
  width: 60px;
}
.info-box-number {
  display: block;
  font-size: 12px;
  text-align: center;
}


.info-box-text {
  display: block;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.info-box-text {
    padding-bottom: 2em;
    font-weight: bold;
    text-align:left;
    
}


.bg-orange {


background-color: #072754;

}


.link_color {

color: #900902;
}

.bg-green {

    background-color: #006B53;

}


.bg-blue {

background-color: #581A4A;


}

.bg-darkred {
    
    background-color: #AD0615;
}



.modal-footer {   border-top: 0px; }

	/* remove outer padding */
	.main .row{
		padding: 0px;
		margin: 0px;
	}

	/*Remove rounded coners*/

